*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #798DA3;
}

h1 {
  color: #004E63;
}

button{ 
  background-color: #006E8C;
  border: none;
  border-radius: 40px;
  color: white;
  font-weight: bolder;
  width: 130px;
  height: 40px;
}